doctype html
html(lang='en', ng-app='am2App')
  head
    meta(charset='UTF-8')
    title AM2 App - MDL
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Material Design Lite
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.teal-pink.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./js/main.js')
  body(ng-controller='mockupController', ng-cloak)
      main.mdl-layout__content
        .page-content
          // First row
          .mdl-grid
            .mdl-cell--5-col(ng-if='selects.selectedLine')
              h4
                | Demande
                button.mdl-button.mdl-js-button--raised(ng-click='toggleManual()')
                  span Saisie manuelle
              div
                span.mdl-chip.mdl-chip--contact
                  span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white E
                  span.mdl-chip__text {{selects.selectedLine.demand.eco}} pax
                span.mdl-chip.mdl-chip--contact
                  span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white B
                  span.mdl-chip__text {{selects.selectedLine.demand.business}} pax
                span.mdl-chip.mdl-chip--contact
                  span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white F
                  span.mdl-chip__text {{selects.selectedLine.demand.first}} pax
                span.mdl-chip.mdl-chip--contact
                  span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white C
                  span.mdl-chip__text {{selects.selectedLine.demand.cargo}} T
              div(ng-if='selects.manualInput')
                form
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--4-col.is-focused
                    input#input-eco.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', ng-model='selects.selectedLine.demand.eco')
                    label.mdl-textfield__label(for='input-eco') Éco
                    span.mdl-textfield__error Input is not a number!
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--4-col.is-focused
                    input#input-business.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', ng-model='selects.selectedLine.demand.business')
                    label.mdl-textfield__label(for='input-business') Business
                    span.mdl-textfield__error Input is not a number!
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--4-col.is-focused
                    input#input-first.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', ng-model='selects.selectedLine.demand.first')
                    label.mdl-textfield__label(for='input-first') First
                    span.mdl-textfield__error Input is not a number!
                  button#btn-ok.mdl-button.mdl-js-button--raised(ng-click='getAllOptis()') Ok
                  button#btn-reset.mdl-button.mdl-js-button--raised(ng-click='reset()') Reset  
          // End of first row
